h1, h2, h3, h4, h5, h6, 
li,
p{
    font-family: Montserrat;
}

th{
    text-align: left;
}

th,
td{
    padding: 5px;
}


.main{
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
}


.project-list{
    font-family: Montserrat;
    width: 100%;
}
