<include href="{{ 'header.htm'}}" />

<div class="main container pt-5">
    <h1 class="mb-5">Github projects comparision</h1>

    <table class="table">
        <tr>
            <repeat group="{{ @head }}" key="{{ @skey }}" value="{{ @shead }}">
            <th>{{ @shead }} </th> 
            </repeat>
        </tr>
    <repeat group="{{ @data }}" key="{{ @ikey }}" value="{{ @idata }}">
    <tr>
        <repeat group="{{ @idata }}" value="{{ @ispan }}">
            <td>{{ @ispan }}</td>
        </repeat>
    </tr>
    </repeat>
    </table>

</div>

<include href="{{ 'footer.htm'}}" />
